.tweet-box {
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 0px;
    width: 582px;
    height: 116px;
    border-right-width: 1px;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-bottom-width: 1px;
    border-color: rgb(226, 216, 216);
    margin-bottom: 1px;
}

.tweet-icon {
    height: 20px;
}
.picture-profile {
    height: 48px;
    border-radius: 24px;
}
.profile-picture {
    margin-right: 12px;
    
}
.what-happening-box {
}
.input-box {
    height: 56px;
    width: 506px;
    display: flex;

}
.text-input {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 502px;
    border: none;
    margin-top: 2px;
}
.text-input::placeholder {
    font-size: 20px;
    font-family: arial;
    color: gray;
}
.icons-row {
    height: 48px;
    width: 502px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
}
.tweet-icons {
    width: 208px;
    display: flex;
    justify-content: space-between;
}
.tweet-buttons {
    background-color: rgb(29, 155, 240);
    border: none;
    color: white;
    font-size: 15px;
    font-family: arial;
    font-weight: bold;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 18px;
    opacity: 0.5;
}
.tweet-update {
    text-align: center;
    font-size: 15px;
    font-family: arial;
    line-height: 20px;
    color: rgb(29, 155, 240);
}
.top-tweet-box {
    display: inline-block;
    width: 598px;
    height: 48px;
    cursor: pointer;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(226, 216, 216);
}
.top-tweet-box:hover {
    background-color: rgba(243, 243, 243, 0.952);
}
.margin {
    margin-bottom: 4px;
}
